{% extends 'index.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block links %}
<li><a href="{% url 'inicio' %}" class="nav-link text-white lnk">Inicio</a></li>
<li><a href="{% url 'partidos' %}" class="nav-link text-white lnk">Partidos</a></li>
<li><a href="{% url 'jugadores' %}" class="nav-link text-white lnk">Jugadores</a></li>
<li class="active"><a href="{% url 'blog' %}" class="nav-link lnk">Blog</a></li>
<li><a href="{% url 'contacto' %}" class="nav-link text-white lnk">Contacto</a></li>
{% endblock links %}
{% block imagen_principal %}

{{detallePost.imagen}}

{% endblock imagen_principal %}
{% block texto_principal %}
<div class="row align-items-center">
  <div class="col-lg-5 mx-auto text-center">
    <h2 class="text-white">{{detallePost.titulo}}</h2>
    <p>{{detallePost.descripcion}}</p>
    </div>  
</div>
{% endblock texto_principal %}

{% block EquiposVS %}
  
{% endblock EquiposVS %}

{% block body %}
<div class="container text-white">
    {{detallePost.contenido | safe}}    
</div>
{% endblock body %}